<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LEGAL_TERMS_TITLE</string>
		</dict>
		<dict>
			<key>File</key>
			<string>licenses.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>LICENSES_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKChildTitle</key>
			<string>LICENSES_TITLE</string>
		</dict>
		<dict>
			<key>File</key>
			<string>terms.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>TERMS_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKChildTitle</key>
			<string>TERMS_TITLE</string>
		</dict>
		<dict>
			<key>File</key>
			<string>privacy.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:specifier:</string>
			<key>Title</key>
			<string>PRIVACY_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKChildTitle</key>
			<string>PRIVACY_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ABOUT_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION_TITLE</string>
			<key>Key</key>
			<string>VERSION_TITLE</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string></string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>InAppSettingsKit</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>CONTACT_US_TITLE</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
